.header {
  min-height: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: orange;
  background-color: yellow;
  box-shadow: 1px 5px 9px 2px #d1d1d1;
  transition: box-shadow 0.5s, border 1s;
}

h2 {
  text-shadow: 2px 2px 5px red;
}

a {
  color: orange !important;
}

.btn-link {
  color: orange !important;
}

.btn:visited {
  text-decoration: none !important;
}

.nav-right {
  color: orange;
}
