
.single-card {
  box-shadow: 1px 5px 9px 2px #d1d1d1;
  transition: box-shadow 0.5s, border 1s;
  width: 90%;
  height: 90%;
  margin: 1% 5%;
}

.image-single-card img {
  border-radius: 5%;
  border: 25px solid yellow;
  width: 90%;
}

.meal-info {
  height: 615px;
  overflow: hidden;
}

.meal-info h1 {
  color: #ffa500;
}

.how-to-cook {
  width: auto;
  height: 330px;
  overflow-y: scroll;
}
