.meal-card-wrapper {
  width: 18vw;
  min-width: 20vh;
  margin-bottom: 20px;
  background-color: #fdfbfa;
  box-shadow: 1px 5px 9px 2px #d1d1d1;
  transition: box-shadow 0.5s, border 1s;
}

.meal-card {
  padding-bottom: 2.5em;
}

.meal-card-image {
  width: 90%;
  height: 180px;
  object-fit: cover;
}

.meal-card-link {
  font-weight: 700;
  font-size: small;
  color: black;
}
